In [1]:
from datetime import datetime, timedelta, timezone
import requests
import json

from pyspark.sql import SparkSession
from pyspark.conf import SparkConf
from pyspark.sql import Row
from datetime import date
from pyspark.sql.functions import lit
import pyspark

In [2]:
spark = SparkSession.builder \
    .appName("Fetch_PGSoft_to_HDFS") \
    .master("local") \
    .enableHiveSupport() \
    .getOrCreate()

23/08/10 15:54:41 WARN Utils: Your hostname, tns-des180 resolves to a loopback address: 127.0.1.1; using 172.24.31.35 instead (on interface enp2s0)
23/08/10 15:54:41 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/08/10 15:54:41 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
PGSOFT_OLD_VERSION_TABLE ='pgsoft_old_version'

secret_key = ""
operator_token = ""
pg_history_url = ""

history_api = '/v2/Bet/GetHistory'

# url = f"{pg_history_url}{history_api}" 

url = "http://localhost:8800/pg_soft" # MockAPI

### This can be executed in AIRFLOW then pass it via xcom

In [4]:
from airflow.providers.postgres.hooks.postgres import PostgresHook

def get_pgversion():
    conn_collector_pg_hook = PostgresHook(postgres_conn_id='collector_conn_id')
    query = """
        SELECT row_version FROM {0} LIMIT 1
    """.format(PGSOFT_OLD_VERSION_TABLE)

    df = conn_collector_pg_hook.get_pandas_df(query)
    if not df.empty:
        latest_row_version = df['row_version'].iloc[0]
        return latest_row_version
    else:
        return None

In [5]:
# def get_some_value(**kwargs):
#     some_value = 10
#     return some_value

# task1 = PythonOperator(task_id='run_task_1',
#                        python_callable=get_some_value,
#                        provide_context=True,
#                        dag=dag)

# task2 = SparkSubmitOperator(
#     task_id='run_sparkSubmit_job',
#     conn_id='spark_default',
#     java_class='com.example',
#     application='example.jar',
#     name='airflow-spark-job',
#     verbose=True,
#     application_args=["{{ti.xcom_pull(task_ids='get_pgsoft_row_version')}}"],  
#     conf={'master':'yarn'},
#     dag=dag,
# )

# Grab the row version

In [6]:
import sys
latest_row_version = sys.argv[1]

In [7]:
# try:
form_data = {
    "secret_key":     secret_key,
    "operator_token": operator_token,
    "bet_type":        "1",
    "row_version":  latest_row_version,
    "count":          "5000"
}

print(f"Start download pg: row_version {latest_row_version}")
response = requests.post(url, data=form_data)
response.raise_for_status() 
print(f"response {len(response.json())}")

json_data = response.json()
df = spark.createDataFrame(json_data) 

# options = { 'url' : url, 'method' : 'GET', 'readTimeout' : '10000', 'connectionTimeout' : '2000', 'partitions' : '10'}

# df = spark.read.format("org.apache.dsext.spark.datasource.rest.RestDataSource").options(**options).load()

# if response.status_code == 404:
#     print("Error 404: Not Found")
# else:
#     json_content = response.json()
#     print(json_content)

# except requests.exceptions.RequestException as err:
# print("Request error:", err)

Start download pg: row_version --ip=127.0.0.1
response 5000

In [8]:
df.printSchema()

root
 |-- balanceAfter: long (nullable = true)
 |-- balanceBefore: long (nullable = true)
 |-- betAmount: long (nullable = true)
 |-- betId: long (nullable = true)
 |-- betTime: string (nullable = true)
 |-- betType: long (nullable = true)
 |-- create_at: string (nullable = true)
 |-- currency: string (nullable = true)
 |-- gameId: long (nullable = true)
 |-- id: long (nullable = true)
 |-- jackpotRtpContributionAmount: long (nullable = true)
 |-- jackpotWinAmount: long (nullable = true)
 |-- parentBetId: long (nullable = true)
 |-- platform: long (nullable = true)
 |-- playerName: string (nullable = true)
 |-- rowVersion: long (nullable = true)
 |-- transactionType: long (nullable = true)
 |-- update_at: string (nullable = true)
 |-- winAmount: long (nullable = true)

In [9]:
from pyspark.sql.functions import to_timestamp, year, quarter, date_format, col

In [19]:
out_df = df \
    .withColumn("betTime",to_timestamp(df["betTime"])) \
    .withColumn("year", date_format(col("betTime"), "yyyy")) \
    .withColumn("quarter", date_format(col("betTime"), "Q")) \
    .withColumn("year_quarter", date_format(col("betTime"), "'p'yyyy'q'Q"))

In [20]:
out_df.show()

+------------+-------------+---------+------+-------------------+-------+--------------------+--------+------+---+----------------------------+----------------+-----------+--------+----------+----------+---------------+--------------------+---------+----+-------+------------+
|balanceAfter|balanceBefore|betAmount| betId|            betTime|betType|           create_at|currency|gameId| id|jackpotRtpContributionAmount|jackpotWinAmount|parentBetId|platform|playerName|rowVersion|transactionType|           update_at|winAmount|year|quarter|year_quarter|
+------------+-------------+---------+------+-------------------+-------+--------------------+--------+------+---+----------------------------+----------------+-----------+--------+----------+----------+---------------+--------------------+---------+----+-------+------------+
|         177|          548|      292|345540|2000-06-22 07:26:46|    997|2018-03-24T15:24:06Z|   nykoq|   687|  1|                         938|             483|     977198|     334|     vrpzl|       349|            913|1985-05-20T22:03:35Z|      153|2000|      2|     p2000q2|
|         683|          543|      566|314826|1989-07-18 14:26:49|    244|1974-05-22T18:19:35Z|   muctm|    41|  2|                         794|             289|     975350|     643|     ltwor|       997|              4|2005-10-26T06:27:58Z|      118|1989|      3|     p1989q3|
|         669|           94|      198|271690|2016-06-15 14:09:52|   1020|1999-02-16T16:45:17Z|   nngll|   136|  3|                         362|             218|     260270|     539|     zcflv|       504|            129|2019-04-01T06:45:32Z|       77|2016|      2|     p2016q2|
|         985|           53|      120|565542|1983-04-18 10:54:04|    163|1987-04-26T10:56:36Z|   uqtch|   440|  4|                          38|              51|     345547|     236|     fhuuu|       285|             35|2008-01-05T14:54:45Z|      265|1983|      2|     p1983q2|
|         298|          385|      588|996140|2018-05-26 18:12:07|    336|2023-07-05T23:03:33Z|   tfkgu|   130|  5|                         630|             539|     456344|     791|     nvoky|       994|            240|1983-10-17T13:12:10Z|      668|2018|      2|     p2018q2|
|         815|          957|       44|597086|2003-10-22 17:10:49|    641|1978-06-30T15:32:32Z|   ihbwo|   866|  6|                         531|              20|     786133|     625|     iowzz|      1015|            833|1978-01-08T09:13:08Z|       20|2003|      4|     p2003q4|
|         491|          689|      839|746246|1970-12-04 21:34:03|    896|1996-08-05T19:56:21Z|   ufesu|    51|  7|                         567|             959|     790340|     530|     aptkk|       802|            765|1971-01-27T11:09:10Z|      257|1970|      4|     p1970q4|
|         462|          583|      213| 59700|1996-11-08 16:52:43|    256|2019-11-26T01:52:11Z|   trflt|    93|  8|                         567|             899|     417684|     523|     nehns|       980|            565|1985-10-15T17:53:50Z|      767|1996|      4|     p1996q4|
|         274|         1005|      647|670887|1992-01-04 11:18:14|    225|1982-04-03T02:28:19Z|   tbynb|   438|  9|                         111|             708|     180669|     925|     irwpq|       577|            477|1992-08-01T05:24:55Z|      475|1992|      1|     p1992q1|
|         588|          436|       52|128994|1989-04-10 01:57:47|    553|1980-12-14T13:51:39Z|   mcrxj|   765| 10|                         864|             566|     341941|      31|     snmbz|       263|            608|2014-11-24T22:17:39Z|      596|1989|      2|     p1989q2|
|         873|          231|      667|117840|1999-07-30 03:06:54|    554|2022-08-05T10:28:34Z|   emyfq|   894| 11|                         205|             468|     471883|     115|     uzidl|       240|            972|1998-12-30T05:39:38Z|      231|1999|      3|     p1999q3|
|         326|           41|      604|300108|2020-03-15 06:12:32|    246|1977-11-18T12:22:30Z|   ipjev|   220| 12|                         560|             675|     789456|      31|     wjfuf|       310|            770|2010-03-09T22:07:13Z|      870|2020|      1|     p2020q1|
|         331|          307|      694|893315|1971-12-16 23:47:37|    697|2022-05-07T12:35:36Z|   afoed|   302| 13|                         310|             432|     308350|     658|     awcft|       444|            680|2010-12-12T17:43:46Z|      732|1971|      4|     p1971q4|
|         833|          515|      948|174713|1972-12-28 14:41:59|    124|2002-01-09T17:07:24Z|   aqojc|   490| 14|                         892|             948|     606339|     595|     cwnmn|       822|            461|1988-01-14T09:10:18Z|      701|1972|      4|     p1972q4|
|          39|          486|       41|824981|1973-01-05 08:12:02|    179|1983-12-19T02:28:44Z|   yiafn|   479| 15|                         359|             823|      29086|     351|     fcrdi|       755|            939|2015-07-08T22:16:35Z|      670|1973|      1|     p1973q1|
|         373|          789|      590| 27178|1991-11-23 04:44:27|    250|1972-07-05T20:33:32Z|   zkorb|   847| 16|                         193|             428|     332230|     633|     hwccw|        13|            463|1982-01-06T09:30:44Z|      267|1991|      4|     p1991q4|
|         728|          977|      504|607748|2000-12-05 14:04:30|    704|2007-04-05T10:28:05Z|   lbhus|   841| 17|                         633|              48|     270128|     431|     mmfvi|       906|            418|1998-01-17T11:21:05Z|      327|2000|      4|     p2000q4|
|         508|          812|      579|492776|1980-10-26 23:41:29|    410|1975-09-26T07:53:29Z|   qwcwp|   106| 18|                         981|               3|     942748|     905|     gtahw|        58|            700|2014-11-15T07:48:31Z|      619|1980|      4|     p1980q4|
|         775|          760|      120|415410|1994-08-22 20:45:32|    445|1990-05-20T04:48:28Z|   xscdh|   151| 19|                         513|             776|     288610|     396|     xwnvq|       793|             99|2001-04-11T03:20:31Z|      586|1994|      3|     p1994q3|
|         940|          444|      554|513931|2008-10-31 15:11:06|    778|2008-07-19T06:14:45Z|   ihxob|   187| 20|                         299|             268|     328749|     303|     cksik|       472|            511|2011-05-04T01:17:54Z|      163|2008|      4|     p2008q4|
+------------+-------------+---------+------+-------------------+-------+--------------------+--------+------+---+----------------------------+----------------+-----------+--------+----------+----------+---------------+--------------------+---------+----+-------+------------+
only showing top 20 rows

In [12]:
out_df.printSchema()

root
 |-- balanceAfter: long (nullable = true)
 |-- balanceBefore: long (nullable = true)
 |-- betAmount: long (nullable = true)
 |-- betId: long (nullable = true)
 |-- betTime: timestamp (nullable = true)
 |-- betType: long (nullable = true)
 |-- create_at: string (nullable = true)
 |-- currency: string (nullable = true)
 |-- gameId: long (nullable = true)
 |-- id: long (nullable = true)
 |-- jackpotRtpContributionAmount: long (nullable = true)
 |-- jackpotWinAmount: long (nullable = true)
 |-- parentBetId: long (nullable = true)
 |-- platform: long (nullable = true)
 |-- playerName: string (nullable = true)
 |-- rowVersion: long (nullable = true)
 |-- transactionType: long (nullable = true)
 |-- update_at: string (nullable = true)
 |-- winAmount: long (nullable = true)
 |-- year: string (nullable = true)
 |-- quarter: string (nullable = true)

In [15]:
tblLocation = './user/hive/datalake/wagers/pgsoft'
out_df.write.partitionBy('year', 'quarter').mode('append').parquet(tblLocation)

In [22]:
tblLocation = './user/hive/datalake/wagers/pgsoft2'
out_df.write.partitionBy('year_quarter').mode('append').parquet(tblLocation)