In [16]:
from datetime import datetime, timedelta, timezone
import requests
import json

from pyspark.sql import SparkSession
from pyspark.conf import SparkConf
from pyspark.sql import Row
from datetime import date
from pyspark.sql.functions import lit
import pyspark

In [17]:
spark = SparkSession.builder \
    .appName("Fetch_PGSoft_to_HDFS") \
    .master("local") \
    .enableHiveSupport() \
    .getOrCreate()

In [18]:
PGSOFT_OLD_VERSION_TABLE ='pgsoft_old_version'

secret_key = ""
operator_token = ""
pg_history_url = ""

history_api = '/v2/Bet/GetHistory'

# url = f"{pg_history_url}{history_api}" 

url = "http://localhost:8800/pg_soft" # MockAPI

### This can be executed in AIRFLOW then pass it via xcom

In [19]:
from airflow.providers.postgres.hooks.postgres import PostgresHook

def get_pgversion():
    conn_collector_pg_hook = PostgresHook(postgres_conn_id='collector_conn_id')
    query = """
        SELECT row_version FROM {0} LIMIT 1
    """.format(PGSOFT_OLD_VERSION_TABLE)

    df = conn_collector_pg_hook.get_pandas_df(query)
    if not df.empty:
        latest_row_version = df['row_version'].iloc[0]
        return latest_row_version
    else:
        return None

In [20]:
# def get_some_value(**kwargs):
#     some_value = 10
#     return some_value

# task1 = PythonOperator(task_id='run_task_1',
#                        python_callable=get_some_value,
#                        provide_context=True,
#                        dag=dag)

# task2 = SparkSubmitOperator(
#     task_id='run_sparkSubmit_job',
#     conn_id='spark_default',
#     java_class='com.example',
#     application='example.jar',
#     name='airflow-spark-job',
#     verbose=True,
#     application_args=["{{ti.xcom_pull(task_ids='get_pgsoft_row_version')}}"],  
#     conf={'master':'yarn'},
#     dag=dag,
# )

# Grab the row version

In [21]:
import sys
latest_row_version = sys.argv[1]

In [22]:
# try:
form_data = {
    "secret_key":     secret_key,
    "operator_token": operator_token,
    "bet_type":        "1",
    "row_version":  latest_row_version,
    "count":          "5000"
}

print(f"Start download pg: row_version {latest_row_version}")
response = requests.post(url, data=form_data)
response.raise_for_status() 
print(f"response contains {len(response.json())} rows")

json_data = response.json()
df = spark.createDataFrame(json_data) 

# options = { 'url' : url, 'method' : 'GET', 'readTimeout' : '10000', 'connectionTimeout' : '2000', 'partitions' : '10'}

# df = spark.read.format("org.apache.dsext.spark.datasource.rest.RestDataSource").options(**options).load()

# if response.status_code == 404:
#     print("Error 404: Not Found")
# else:
#     json_content = response.json()
#     print(json_content)

# except requests.exceptions.RequestException as err:
# print("Request error:", err)

Start download pg: row_version --ip=127.0.0.1
response contains 5006 rows

In [23]:
df.printSchema()

root
 |-- balanceAfter: long (nullable = true)
 |-- balanceBefore: long (nullable = true)
 |-- betAmount: long (nullable = true)
 |-- betId: long (nullable = true)
 |-- betTime: string (nullable = true)
 |-- betType: long (nullable = true)
 |-- currency: string (nullable = true)
 |-- gameId: long (nullable = true)
 |-- id: long (nullable = true)
 |-- jackpotRtpContributionAmount: long (nullable = true)
 |-- jackpotWinAmount: long (nullable = true)
 |-- parentBetId: long (nullable = true)
 |-- platform: long (nullable = true)
 |-- playerName: string (nullable = true)
 |-- rowVersion: long (nullable = true)
 |-- transactionType: long (nullable = true)
 |-- winAmount: long (nullable = true)

In [24]:
from pyspark.sql.functions import to_timestamp, year, quarter, date_format, col

In [25]:
df.describe().show()

23/08/11 11:43:06 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+-------+-----------------+------------------+------------------+------------------+--------------------+-----------------+--------+-----------------+------------------+----------------------------+-----------------+------------------+------------------+----------+-----------------+-----------------+------------------+
|summary|     balanceAfter|     balanceBefore|         betAmount|             betId|             betTime|          betType|currency|           gameId|                id|jackpotRtpContributionAmount| jackpotWinAmount|       parentBetId|          platform|playerName|       rowVersion|  transactionType|         winAmount|
+-------+-----------------+------------------+------------------+------------------+--------------------+-----------------+--------+-----------------+------------------+----------------------------+-----------------+------------------+------------------+----------+-----------------+-----------------+------------------+
|  count|             5003|              5003|              5003|              5000|                5003|             5003|    5000|             5003|              5006|                        5003|             5003|              5003|              5003|      5000|             5003|             5003|              5003|
|   mean|512.9520287827304|511.51948830701576| 521.4369378372976|       499613.5366|                null|514.7657405556666|    null|520.3735758544873|            2503.5|           509.4481311213272|507.3587847291625|493743.86967819306|510.19928043174093|      null|515.2796322206676| 517.879672196682|510.30821507095743|
| stddev|293.1006825194102| 295.3870829242106|295.28349840958657|289828.35362733994|                null|296.5631649501742|    null|296.8884744324797|1445.2520541414221|          293.66407138646707|294.4288709557221| 289484.4756388512| 295.0310145453605|      null| 297.050792777109|295.1773901163131| 296.0187752497331|
|    min|                1|                 1|                 1|                87|1970-01-01T22:08:04Z|                1|   aalvm|                1|                 1|                           1|                1|               123|                 1|     aaimi|                1|                1|                 1|
|    max|             1024|              1024|              1024|            999850|2023-08-10T16:55:56Z|             1024|   zzwhc|             1024|              5006|                        1024|             1024|            999989|              1023|     zzdiu|             1023|             1024|              1023|
+-------+-----------------+------------------+------------------+------------------+--------------------+-----------------+--------+-----------------+------------------+----------------------------+-----------------+------------------+------------------+----------+-----------------+-----------------+------------------+

In [26]:
out_df = df \
    .withColumn("betTime",to_timestamp(df["betTime"])) \
    .withColumn("year", date_format(col("betTime"), "yyyy")) \
    .withColumn("quarter", date_format(col("betTime"), "Q"))

In [27]:
out_df.describe().show()

+-------+-----------------+------------------+------------------+------------------+-----------------+--------+-----------------+------------------+----------------------------+-----------------+------------------+------------------+----------+-----------------+-----------------+------------------+------------------+-----------------+
|summary|     balanceAfter|     balanceBefore|         betAmount|             betId|          betType|currency|           gameId|                id|jackpotRtpContributionAmount| jackpotWinAmount|       parentBetId|          platform|playerName|       rowVersion|  transactionType|         winAmount|              year|          quarter|
+-------+-----------------+------------------+------------------+------------------+-----------------+--------+-----------------+------------------+----------------------------+-----------------+------------------+------------------+----------+-----------------+-----------------+------------------+------------------+-----------------+
|  count|             5003|              5003|              5003|              5000|             5003|    5000|             5003|              5006|                        5003|             5003|              5003|              5003|      5000|             5003|             5003|              5003|              5003|             5003|
|   mean|512.9520287827304|511.51948830701576| 521.4369378372976|       499613.5366|514.7657405556666|    null|520.3735758544873|            2503.5|           509.4481311213272|507.3587847291625|493743.86967819306|510.19928043174093|      null|515.2796322206676| 517.879672196682|510.30821507095743| 1996.120927443534| 2.49370377773336|
| stddev|293.1006825194102| 295.3870829242106|295.28349840958657|289828.35362733994|296.5631649501742|    null|296.8884744324797|1445.2520541414221|          293.66407138646707|294.4288709557221| 289484.4756388512| 295.0310145453605|      null| 297.050792777109|295.1773901163131| 296.0187752497331|15.674925405396573|1.111582694793676|
|    min|                1|                 1|                 1|                87|                1|   aalvm|                1|                 1|                           1|                1|               123|                 1|     aaimi|                1|                1|                 1|              1970|                1|
|    max|             1024|              1024|              1024|            999850|             1024|   zzwhc|             1024|              5006|                        1024|             1024|            999989|              1023|     zzdiu|             1023|             1024|              1023|              2023|                4|
+-------+-----------------+------------------+------------------+------------------+-----------------+--------+-----------------+------------------+----------------------------+-----------------+------------------+------------------+----------+-----------------+-----------------+------------------+------------------+-----------------+

In [28]:
out_df[out_df['gameId'] == 123 ].describe().show()

+-------+------------------+------------------+------------------+-----------------+------------------+--------+------+-----------------+----------------------------+-----------------+------------------+------------------+----------+-----------------+------------------+------------------+------------------+------------------+
|summary|      balanceAfter|     balanceBefore|         betAmount|            betId|           betType|currency|gameId|               id|jackpotRtpContributionAmount| jackpotWinAmount|       parentBetId|          platform|playerName|       rowVersion|   transactionType|         winAmount|              year|           quarter|
+-------+------------------+------------------+------------------+-----------------+------------------+--------+------+-----------------+----------------------------+-----------------+------------------+------------------+----------+-----------------+------------------+------------------+------------------+------------------+
|  count|                 7|                 7|                 7|                4|                 7|       4|     7|                7|                           7|                7|                 7|                 7|         4|                7|                 7|                 7|                 7|                 7|
|   mean|356.85714285714283|482.14285714285717|332.14285714285717|        617054.75| 264.7142857142857|    null| 123.0|4199.142857142857|          177.85714285714286|370.2857142857143|190194.57142857142|191.71428571428572|      null|345.7142857142857|412.14285714285717|200.14285714285714|2013.7142857142858|2.7142857142857144|
| stddev|327.52935164726256| 347.3880772140521|354.04633810252795|78895.95013845767|292.04720753428103|    null|   0.0|935.8487108095035|          178.81781098036492|290.0756879883331|228994.28293653764|123.19458089504084|      null|282.3235226270943|388.83005223851916| 170.2512149456684|13.187295473476041|0.7559289460184544|
|    min|               113|               123|                98|           515479|                 8|   bfsci|   123|             2824|                          17|              123|               123|                43|     hmsqn|              123|                37|                25|              1986|                 2|
|    max|               949|               825|               922|           699908|               866|   uoneg|   123|             5006|                         505|              856|            633376|               391|     vgfnb|              900|               843|               501|              2023|                 4|
+-------+------------------+------------------+------------------+-----------------+------------------+--------+------+-----------------+----------------------------+-----------------+------------------+------------------+----------+-----------------+------------------+------------------+------------------+------------------+

In [29]:
out_df.printSchema()

root
 |-- balanceAfter: long (nullable = true)
 |-- balanceBefore: long (nullable = true)
 |-- betAmount: long (nullable = true)
 |-- betId: long (nullable = true)
 |-- betTime: timestamp (nullable = true)
 |-- betType: long (nullable = true)
 |-- currency: string (nullable = true)
 |-- gameId: long (nullable = true)
 |-- id: long (nullable = true)
 |-- jackpotRtpContributionAmount: long (nullable = true)
 |-- jackpotWinAmount: long (nullable = true)
 |-- parentBetId: long (nullable = true)
 |-- platform: long (nullable = true)
 |-- playerName: string (nullable = true)
 |-- rowVersion: long (nullable = true)
 |-- transactionType: long (nullable = true)
 |-- winAmount: long (nullable = true)
 |-- year: string (nullable = true)
 |-- quarter: string (nullable = true)

In [30]:
tblLocation = './user/hive/datalake/wagers/pgsoft'
out_df.write.partitionBy('year', 'quarter').mode('append').parquet(tblLocation)

In [31]:
# tblLocation = './user/hive/datalake/wagers/pgsoft2'
# out_df.write.partitionBy('year_quarter').mode('append').parquet(tblLocation)

In [32]:
# tblLocation = './user/hive/datalake/wagers/pgsoft3'
# out_df.write.partitionBy('year', 'month', 'day').mode('append').parquet(tblLocation)