In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame({"ID": [1,2,3], "username":[1,2,3], "c":[ 1,2,1 ]})

In [3]:
df2 = pd.DataFrame({"ID": [4,5,1], "username":[4,5,6], "c":[ 4,5,6 ]})

In [24]:
df1 = df1.drop_duplicates(subset=['c'])

In [4]:
df1

   ID  username  c
0   1         1  1
1   2         2  2
2   3         3  1

In [7]:
df2

   ID  username  c
0   4         4  4
1   5         5  5
2   1         6  6

In [27]:
df1['Exists_in_df2'] = df1.apply(lambda row: (row['ID'] in df2['ID'].values) and (row['username'] in df2['username'].values), axis=1)

In [28]:
df1

   ID  username  c  Exists_in_df2
0   1         1  1          False
1   2         2  2          False

In [5]:
df1['ID_Exists_Different_Username'] = df1.apply(lambda row: (row['ID'] in df2['ID'].values) and (row['username'] not in df2.loc[df2['ID'] == row['ID'], 'username'].values), axis=1)

In [6]:
df1

   ID  username  c  ID_Exists_Different_Username
0   1         1  1                          True
1   2         2  2                         False
2   3         3  1                         False